*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    height: 690px;
    display: flex;
    align-items: center;  
    justify-content: center;
}
 
.wrapper{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 8px;
}

h1{
    margin-bottom: 20px;
    text-align: center;
}

label{
    margin-bottom: 5px;
    font-size: 20px;
}

input{
    text-align: left;
    margin-bottom: 15px;
    padding: 10px 82px;
}

button{
    margin-bottom: 10px;
    padding: 8px 32px;
    background-color: rgb(95, 1, 95);
    color: white;
    border: 1px solid white;
}

button:hover{
    background-color: rgb(141, 41, 141);
}

/* Media query */
@media (width < 999px){
 .wrapper{
    width: 16rem;
 }

 input{
    padding: 10px 20px;
 }
    
}